/*  your css code here. If applicable */

.hero{
	display:flex;
	justify-content:space-between;
	align-items:center;
	
}
.hero-content h1{
	color:pink;
	font-size:30px;
	border-bottom:20px;
	
	
}
.hero-content a {
            display: inline-block;
            padding: 12px 26px;
            background-color: #e60023;
            color: #ffffff;
            text-decoration: none;
            border-radius: 30px;
            font-size: 16px;
            font-weight: bold;
        }
 .hero-image {
            width: 45%;
            height: 320px;
            overflow: hidden;
            border-radius: 16px;
        }
.hero-image img{
	width:100%;
	height:100%;
	object-fit:cover;
}